.cont{

    color: white;
}

.link{

    color: greenyellow;
}

.man{

    color: blue;
}

.woman{

    color: palevioletred;
   
}

.tx{

    border: solid cornflowerblue;
    height: 20px;
}

.toc{

    color: red;
}

.botam{

    color: red;
    
   
}

